### Importación de datos

In [9]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [10]:
total_ventas_MM={}
total_ventas_MM['tienda_1']=tienda['Precio'].sum()/(1000000)
total_ventas_MM['tienda_2']=tienda2['Precio'].sum()/(1000000)
total_ventas_MM['tienda_3']=tienda3['Precio'].sum()/(1000000)
total_ventas_MM['tienda_4']=tienda4['Precio'].sum()/(1000000)

print(total_ventas_MM)

for tienda, total_venta in total_ventas_MM.items():
  print(f'{tienda}: {total_venta:.2f}')

{'tienda_1': np.float64(1150.8804), 'tienda_2': np.float64(1116.3435), 'tienda_3': np.float64(1098.0196), 'tienda_4': np.float64(1038.3757)}
tienda_1: 1150.88
tienda_2: 1116.34
tienda_3: 1098.02
tienda_4: 1038.38

La tienda que me genera menos ventas son Tienda 4,  Tienda 3, Tienda 2, Tienda 1


1.   Tienda 4
2.   Tienda 3
3.   Tienda 2
4.   Tienda 1

In [11]:
tienda.columns

AttributeError: 'str' object has no attribute 'columns'

# 2. Ventas por categoría

In [12]:
tienda.groupby('Categoría del Producto').size().sort_values(ascending=False)

AttributeError: 'str' object has no attribute 'groupby'

In [ ]:
tienda2.groupby('Categoría del Producto').size().sort_values(ascending=False)

In [ ]:
tienda3.groupby('Categoría del Producto').size().sort_values(ascending=False)

In [ ]:
tienda4.groupby('Categoría del Producto').size().sort_values(ascending=False)

Todas las tiendas tienen entre sus principales productos

1.   Muebles
2.   Electrónicos
3.   Juguetes

Asi que la venta de una de ellas no afectara a los clientes.

# 3. Calificación promedio de la tienda

In [ ]:
tienda['Calificación'].mean()

Calificacion_promedio={}
Calificacion_promedio['tienda_1']=tienda['Calificación'].mean()
Calificacion_promedio['tienda_2']=tienda2['Calificación'].mean()
Calificacion_promedio['tienda_3']=tienda3['Calificación'].mean()
Calificacion_promedio['tienda_4']=tienda4['Calificación'].mean()

In [ ]:
for tienda, cal in Calificacion_promedio.items():
  print(f'{tienda}: {cal:.2f} puntos' )

La tiendas ordenadas con Menor Valoracion son:


1.   Tienda 1
2.   Tienda 4
3.   Tienda 2
4.   Tienda 3

# 4. Productos más y menos vendidos

In [ ]:
Tops_prod_tienda1=tienda.groupby('Producto').size().sort_values(ascending = False)
Tops_prod_tienda2=tienda2.groupby('Producto').size().sort_values(ascending = False)
Tops_prod_tienda3=tienda3.groupby('Producto').size().sort_values(ascending = False)
Tops_prod_tienda4=tienda4.groupby('Producto').size().sort_values(ascending = False)

In [ ]:
import matplotlib.pyplot as plt

PRODUCTOS MAS VENDIDOS

In [ ]:
top_10_tienda1 = Tops_prod_tienda1.head(10).plot(kind='bar',figsize=(10,5),title='Top Productos mas vendidos Tienda 1')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

top_10_tienda2 = Tops_prod_tienda2.head(10).plot(kind='bar',figsize=(10,5),title='Top Productos mas vendidos Tienda 2')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

top_10_tienda3 = Tops_prod_tienda3.head(10).plot(kind='bar',figsize=(10,5),title='Top Productos mas vendidos Tienda 3')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

top_10_tienda4 = Tops_prod_tienda4.head(10).plot(kind='bar',figsize=(10,5),title='Top Productos mas vendidos Tienda 4')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

PRODUCTOS MENOS VENDIDOS

In [ ]:
bottom_10_tienda1 = Tops_prod_tienda1.tail(10).plot(kind='bar',figsize=(10,5),title='Productos Menos vendidos Tienda 1')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

bottom_10_tienda2 = Tops_prod_tienda2.tail(10).plot(kind='bar',figsize=(10,5),title='Productos Menos vendidos Tienda 2')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

bottom_10_tienda3 = Tops_prod_tienda3.tail(10).plot(kind='bar',figsize=(10,5),title='Productos Menos vendidos Tienda 3')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

bottom_10_tienda4 = Tops_prod_tienda4.tail(10).plot(kind='bar',figsize=(10,5),title='Productos Menos vendidos Tienda 4')
plt.xlabel('Producto')
plt.ylabel('Cantidad vendida')
plt.tight_layout()
plt.show()

# 5. Envío promedio por tienda

In [ ]:
costo_envio_tienda = {}
costo_envio_tienda['tienda_1']=tienda['Costo de envío'].mean()
costo_envio_tienda['tienda_2']=tienda2['Costo de envío'].mean()
costo_envio_tienda['tienda_3']=tienda3['Costo de envío'].mean()
costo_envio_tienda['tienda_4']=tienda4['Costo de envío'].mean()

for tienda, costo in costo_envio_tienda.items():
    print(f"{tienda}: {costo:.2f}")

Se gasta mas en el envio de las Tiendas 1   y   Tienda 2

1.   Tienda 1
2.   Tienda 2
3.   Tienda 3
4.   Tienda 4

# Analisis de las coordenadas

In [ ]:
#agregamos columna tienda antes de generar un DF general
tienda['Tienda']='Tienda 1'
tienda2['Tienda']='Tienda 2'
tienda3['Tienda']='Tienda 3'
tienda4['Tienda']='Tienda 4'

In [ ]:
df_agregado = pd.concat([tienda,tienda2,tienda3,tienda4], ignore_index=True)

In [ ]:
colores = {
    'Tienda 1': 'red',
    'Tienda 2': 'blue',
    'Tienda 3': 'green',
    'Tienda 4': 'purple'
}

In [ ]:
plt.figure(figsize=(100, 60))

In [ ]:
df_agregado.columns

In [ ]:
for nombre_tienda, datos in df_agregado.groupby('Tienda'):
  plt.scatter(datos['lat'], datos['lon'],color=colores[nombre_tienda],  label=nombre_tienda, alpha=0.6)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
print(df_agregado['Tienda'].unique())